<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <title>中华古诗词检索系统</title>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>

  <div id="app">
      <div align="center">
 <el-image src="./create/header.JPG" align="center"></el-image></div>
<el-form :inline="true" :model="query" class="demo-form-inline" align="center" >

<el-form-item label="请选择检索类型：">
 <el-select v-model="query.type_s" placeholder="请选择" >
    <el-option label="作者检索" value="author"></el-option>
      <el-option label="题目检索" value="title"></el-option>
     <el-option label="正文检索" value="paragraphs"></el-option>
      <!--<el-option label="混合检索" value="mix"></el-option>-->
  </el-select>
</el-form-item>
<el-form-item label="请输入检索内容：">
    <el-input v-model="query.sentence"  placeholder="正文检索支持与或非查询"  ></el-input>
  </el-form-item>

    <el-form-item>
    <el-button type="primary" @click="onSubmit">检索</el-button>
  </el-form-item>

    <!--<el-form-item>-->
    <!--<el-button type="primary" @click="getAudio" >如诗如画</el-button>-->
  <!--</el-form-item>-->
</el-form>

<el-table
    :data="tableData.filter(data => !search || data.author.toLowerCase().includes(search.toLowerCase()))"
    style="width: 100%"
      heigth="100">
    <el-table-column
      type="index"
      width="50">
    </el-table-column>
    <el-table-column
      label="作者"
      width="150">
         <template slot-scope="scope">
            <span class="col-cont" v-html="showDate(scope.row.author)" ></span>
     </template>
    </el-table-column>
    <el-table-column
      label="诗题"
      width="300">
        <template slot-scope="scope">
            <span class="col-cont" v-html="showDate(scope.row.title)" ></span>
     </template>
    </el-table-column>
    <el-table-column
      label="诗文"
      width="700">
        <template slot-scope="scope">
            <span class="col-cont" v-html="showDate(scope.row.paragraphs)" ></span>
     </template>
    </el-table-column>
    <el-table-column
      align="left">
      <template slot="header" slot-scope="scope">
        <el-input
          v-model="search"
          size="mini"
          placeholder="输入Author关键字搜索"/>
      </template>
      <template slot-scope="scope">
        <el-button
          size="mini"
          type="danger"
          @click="openFile(scope.$index, scope.row)">author detail</el-button>
      </template>
    </el-table-column>
  </el-table>

      <!--<el-dialog :visible.sync="visible" title="作者简介">-->
      <!--<p ：data="text"></p>-->
    <!--</el-dialog>-->
  </div>

</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>

<script type='text/javascript'>
       new Vue({
      el: '#app',
      data: function() {
        return {
            visible: false,
            percentage: 0,
            query:{
                sentence:'',
                type_s:'paragraphs'
                },
           tableData: [
            ],
           search: ''
        }
      },
      methods: {
      <!--高亮文本显示-->
        showDate(val) {  return val   },
      <!--文本检索请求-->
      onSubmit() {
        var temp ;
        $.ajax({
        data:this.query,
        url: "http://127.0.0.1:5000/",
        type: "POST",
        async: false,
        dataType: "JSON",
        success: function (rep) {
            temp = rep;
            console.log(rep);
        },error:function(error){
            console.log('error');
            console.log(error);
        }
        })
        this.tableData = temp.result;
        console.log(temp)
        var msg ;
        if ( temp.number <= 1000)
            msg = '恭喜你，成功检索到 '+temp.number+' 个结果！';
        else
            msg =  '恭喜你，成功检索到 '+temp.number+' 个结果，以下显示前1000个最优结果！';
        this.$message({
                message: msg,
                type: 'success'
            });
        console.log('submit!');
      },
      <!--获取音频输入，调用语音查询请求-->
      <!--getAudio(){-->
        <!--const loading = this.$loading({-->
          <!--lock: true,-->
          <!--text: 'Loading',-->
          <!--spinner: 'el-icon-loading',-->
          <!--background: 'rgba(0, 0, 0, 0.7)',-->
          <!--text:'录音中...录音时间为10秒！'-->
        <!--});-->
        <!--setTimeout(() => {-->
          <!--loading.close();-->
          <!--console.log('11');-->
          <!--this.audioQuery();-->
        <!--}, 1000);-->
      <!--},-->
      <!--获取作者详情请求-->
       openFile(index, row) {
       var temp
        $.ajax({
        data:{
                author :this.tableData[index].author
            },
        url: "http://127.0.0.1:5000/detail",
        type: "POST",
        async: false,
        dataType: "text",
        success: function (rep) {
            temp = rep ;
            console.log(rep);
        },error:function(error){
            console.log('error');
            console.log(error);
        }
        })
       this.$alert('<textarea style="width: 100%" rows="20" >'+temp+'</textarea>', '作者简介', {
           dangerouslyUseHTMLString: true
         });
      },
      },
    })
</script>
</html>

